@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Cairo&family=Poppins&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  background-color: #fff;
  font-size: 16px;
  overflow-x: hidden;
  line-height: 1.5;
  scroll-behavior: smooth;
}

a {
  text-decoration: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0px;
  margin-bottom: 0px;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

p {
  font-size: 14px;
  line-height: 25px;
  color: #7a7a7a;
}

em {
  color: rgb(79, 70, 229) !important
}

:root {
  --btn-bg: rgb(79, 70, 229) !important;
  --hover-after: rgb(79, 70, 229) !important;
  --hover-color: rgb(79, 70, 229) !important;
}